@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

clear-fix::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.navbar-header{
	float: none;
	font-size: 20px;
	margin-right: 0px; 
	background-color: white;
    border-width: 1px;
    border-radius: 7px;
	border-style: solid;
	border-color: #ccc;
}

.printbtn {
  background: none;
  border-color: #ccc;
  background-image: none;
  float: right;
  font-family: "Open Sans", sans-serif;
  margin-right: 5px;
}

.marg{
	margin-left: 0px;
	font-family: "Open Sans", sans-serif;
}

.marg1{
	margin-right: -20px;

}

.navbar-spec {
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;

}
#content {
	margin-top:60px;
	font-family: "Open Sans", sans-serif;
}

.row {
	background:white;
	height: auto;
	font-family: "Open Sans", sans-serif;
}

.pofilepic{
	border-radius: 10px;
	max-width: 100%;
	margin-top:10px;
	min-width: 125px;
}
.social {
	margin-right: 7px;
}
#contacts{
	background: none;
	text-align: center;
}

#contactf {
    background: white;
    width: 100%;
    border-radius: 6px;
	font-family: "Open Sans", sans-serif;
	min-width: 120px;

	border-color: #ccc;
	text-align: center;
}
.cbtn{
	  display: inherit;
	  background: none;
	  border-color: #ccc;
	  background-image: none;
	  font-family: "Open Sans", sans-serif;
	  margin-top: 5px;
	  min-width: 125px;
 }
.MainContent{
	  border-width: 1px;
	  border-radius: 7px;
	  border-style: solid;
	  border-color: #ccc;
	  height: 100%;
 }


@media (max-width: 480px) { 
.navbar-brand{
	float: left;
	height: 50px;
	line-height: 20px;
	font-family: "Open Sans", sans-serif;
	
}
.printbtn {
  background: none;
  border-color: #ccc;
  background-image: none;
  float: right;
  display:none;
  font-family: "Open Sans", sans-serif;
}
}

body { padding: 10px;}
#map-container { height: 450px }


.Btitle
{
font-size:20px;
}

.ltarget{
  padding: 8px 15px;
  margin-bottom: 3px;
  margin-top: 3px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.head-col{
margin-left: -8px;
}
.ctitle{
  margin-left: -25px;
}

