.row div {
background:red;
height: 2500px;

}
#content {
margin-top:55px;
border: 1px solid #a5d4fc;
}
body {
background: #FFFFFF;
}
.btn-default {
  color: #333;
  background: #red;
  border-color: #ccc;
  background-image: none;
}
.navbar{
border-bottom: 2px solid #C3BCBC;
}

@media (max-width: @screen-xs-max) { 
.printbutton{
visibility:hidden;
}
}