@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

clear-fix::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.navbar-header{
	float: none;
	font-size: 20px;
	margin-right: 0px; 
	background-color: white;
    border-width: 1px;
    border-radius: 7px;
	border-style: solid;
	border-color: #ccc;
}

.printbtn {
  background: none;
  border-color: #ccc;
  background-image: none;
  float: right;
  font-family: "Open Sans", sans-serif;
  margin-right: 5px;
}

.marg{
	margin-left: 0px;
	font-family: "Open Sans", sans-serif;
}

.marg1{
	margin-right: -20px;
	font-family: "Open Sans", sans-serif;
}

.navbar-spec {
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
#content {
	margin-top:60px;
	font-family: "Open Sans", sans-serif;
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
}

.row {
	background:white;
	height: 1000px;
	border: 1px solid #a5d4fc;
	font-family: "Open Sans", sans-serif;
}

.pofilepic{
	border-radius: 10px;
	max-width: 100%;
	margin-top:10px;
	min-width: 125px;
}
.social {
	margin-right: 7px;
}
#contacts{
	background: none;
	text-align: center;
}

#contactf {
    background: white;
    width: 100%;
    border-radius: 6px;
	font-family: "Open Sans", sans-serif;
	min-width: 120px;

	border-color: #ccc;
	text-align: center;
}
.cbtn{
	  display: inherit;
	  background: none;
	  border-color: #ccc;
	  background-image: none;
	  font-family: "Open Sans", sans-serif;
	  margin-top: 5px;
	  min-width: 125px;
 }
.MainContent{
	  border-width: 3px;
	  border-radius: 7px;
	  border-style: solid;
	  border-color: red;
	  height: 100%;
 }


@media (max-width: 480px) { 
.navbar-brand{
	float: left;
	height: 50px;
	line-height: 20px;
	font-family: "Open Sans", sans-serif;
	margin-left: 0px;
}
.printbtn {
  background: none;
  border-color: #ccc;
  background-image: none;
  float: right;
  display:none;
  font-family: "Open Sans", sans-serif;
}
}

body { padding: 10px;}
#map-container { height: 450px }


#educational-attainment .section-content, #working-experience .section-content {
    height: auto;
    max-height: 330px;
    overflow: auto;
}
#educational-attainment .section-content ul.cbp_tmtimeline, #working-experience .section-content ul.cbp_tmtimeline {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li, #working-experience .section-content ul.cbp_tmtimeline>li {
    margin: 0 0 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li+li, #working-experience .section-content ul.cbp_tmtimeline>li+li {
    border-top: 1px solid #FFF;
    padding-top: 9px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li:hover .cbp_tmicon, #working-experience .section-content ul.cbp_tmtimeline>li:hover .cbp_tmicon {
    background: #6D6B6B;
    box-shadow: 0 0 0 5px #AAA;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li:last-child, #working-experience .section-content ul.cbp_tmtimeline>li:last-child {
    margin: 0;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmicon, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmicon {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(26, 188, 126, 0.81);
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 0 0 5px #B1E1FF;
    top: 4px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmtime, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmtime {
    padding: 0 0 15px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmtime span:first-child, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmtime span:first-child {
    color: #939393;
    font-size: 13px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmtime span:last-child, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmtime span:last-child {
    color: rgba(26, 188, 126, 0.81);
    font-size: 14px;
    line-height: 27px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel {
    margin: 0;
    background: #DFDFDF;
    color: #7D7D7D;
    padding: 10px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel h2, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel h2 {
    font-size: 14px;
    margin-top: 0;
    padding: 0 0 6px;
    border-bottom: none;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p {
    font-size: 13px;
    line-height: 19px;
    padding: 10px;
    text-align: justify;
    background: rgba(26, 188, 126, 0.81);
    color: #FFF;
    margin: 5px -10px -10px -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task {
    display: block;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task .icon, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task .icon {
    font-size: 11px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task .description, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task .description {
    padding: 3px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task+.task, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel p .task+.task {
    margin-top: 5px;
}
#educational-attainment .section-content ul.cbp_tmtimeline>li .cbp_tmlabel:after, #working-experience .section-content ul.cbp_tmtimeline>li .cbp_tmlabel:after {
    border-bottom-color: #DFDFDF;
}


