body {
	font-size: 12pt !important;
	overflow: visible;
}
.h-content {
	min-width: 100% !important;
	min-width: 1002px\0/ ; /*хак для ie8*/
	max-width: 100%;
}
.b-main-part {
	padding-left:0;
	padding-right:0;
}
.b-print-header {
	height:1px;
	border-top:38pt #ea5446 solid;
	position:relative;
}
.b-print-header .fleft img {
	position: absolute;
	top:-39px;
	left:10px;
	padding:0;
}

.mt_30 {
	margin-top: 30px;
}
.ml_35 {
	margin-left: 35px;
}
.bread-crumbs {
	color: #AFA5A1;
}
.b-print-header img {
	padding-top: 20px;
	height: 30px;
	padding-left: 55px;
}
.gray9_text {
	color: #888888 !important;
}
.b-main-part {
	padding-left: 57px;
	padding-right: 37px;
}
.b-main-part__table {
	margin-top: 33px;
}
.f-print-col {
	width: 36%;
	border-right: 1px solid #cccccc;
	padding-right: 30px;
}
.f-sec-col {
	padding-left: 32px;
}
.b-sub-info {
	margin-bottom: 30px;
}
.print-res-descr {
	line-height: 2;
}
.i-work-descr {
	margin-bottom: 26px;
}
.b-sub-info {
	margin-bottom: 32px;
}
.b-strengths {
	margin-bottom: 30px;
}
.b-tariff-status {
	background-color:#e8f5e2;
	padding: 9px 22px 10px 0;
	margin-bottom: 10px;
	border:1px solid #ccd4db;
}
.b-tariff-status__text {
	font-size: 12px;
	color: #333333;
	margin-left: 25px;
}


.td1 {width:130pt;padding-right: 20px;}
/*.res-card-tbl .td2 {*/
    /*width: 54%;*/
/*}*/
.print_input {
	margin:30px auto;
	display:block;
}
.copy_print {
	padding-left:70px !important;
	font-size:12px;
	padding-bottom:10px;
}
.p-res-opyt {
	display:block;
	margin:0;
	font-size:9pt !important;
	line-height: 14pt;
	font-weight:bold !important;
	text-transform: uppercase;
}
.comp-type-link {
	text-decoration: none;
}
.p-res-exp,
.p-res-qua,
.b-skills-desrc {
	font-size:9pt;
	line-height:14pt;
}
.b-main-info {
	font-size:14px;
	margin-bottom: 20px;
	padding-bottom:14pt !important;
	border-bottom:1px solid #cccccc !important;
	margin-left:0;
	margin-right:0;
}
.b-main-info.mb_0 {border:none;}
.b-center-info, .b-left-info, .b-right-info  {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.b-left-info {
	width: 130pt !important;
	margin-right:20px;
	z-index:2;
}
.b-left-info img {
	width: 100%;
	height: 100%;
}
.mw200 {
	max-width: 130pt !important;
}
.b-center-info {
	/*padding:0 180pt 0 146pt;*/
	z-index:1;
	width: 30%;
}

.b-right-info {
	float: right;
	/*width:282px;*/
	padding-right:7px;
	/*margin-left:-290px;*/
	z-index:2;
}
/*
.b-center-info, .b-left-info, .b-right-info {
	display: inline-block;
	vertical-align: top;
}
.b-left-info {
	width: 232px !important;
	float:left;
	min-height:1px;
}
.b-right-info {
	float: right;
}*/
.add-comment-wrapper {
	margin-top: 10px;
}
.b-work-duration {
	border-left: 1px solid #cccccc;
	margin-top: 8px;
}
.work-duration-line {
	display: inline-block;
	height: 0;
	overflow: hidden;
	margin-right: 5px;
	margin-bottom:-3px;
	border-top-width:16px;
	border-top-style: solid;
}
.duration-period {
	display: inline-block;
	margin-left: 5px;
	margin-bottom:-3px;
	position: relative;
	top:-2px;
}
.work-duration-line.one-year {
	border-top-color: #8ee9d3;
	width: 50px;
}
.work-duration-line.less-than-year {
	border-top-color: #f1c40f;
	width: 29px;
}
.work-duration-line.five-years {
	border-top-color: #1bbc9b;
	width: 162px;
}
.work-duration-line.two-years {
	border-top-color: #1bbc9b;
	width: 89px;
}
.portfolio {
	padding:20px 0;
	overflow: hidden;
	width:645px;
}
.metroBranch_ico span.name {
	padding-left:0;
	background: none;
}
.metroBranch_ico span.name:before {
	content: "м. ";
}
.longname {
	white-space: nowrap;
}
.contact_appl p {
	margin-bottom:5px;
}
.contact_appl .text_24 {
	font-weight: bold;
}
.candidate-name {
	font-size: 18pt !important;
	font-weight: bold;
	line-height: 21pt !important;
}
.email-phone, .b-sex-age, .b-city-info, .b-citizenship-info {
	font-size: 9pt !important;
	line-height: 14pt !important;
}
.position-name {
	font-size: 18pt !important;
	line-height: 21pt !important;
}
.exp-years {
	font-size: 12pt !important;
	line-height: 14pt !important;
}
.b-citizenship-info {
	margin-top:5px;
}
.b-city-info,
.b-metro-list {
	display: inline;
}
div.compare_hint {
	display: none;
}
.b-recommendations-popup {
	background: #f4f4f4;
	float: right;
	margin: 20px auto 0;
	padding: 20px 24px 20px 16px;
	width: 179px;
	font-size: 14pt;
}
.b-recommendations-popup .rec-title {
	color: #656565;
	font-size: 18pt;
	margin-bottom: 8px;
}
.b-recommendations-popup .triangle-topright {
	/*width: 0;*/
	/*height: 0;*/
	/*border-top: 22px solid #f4f4f4;*/
	/*border-left: 22px solid transparent;*/
	/*position: absolute;*/
	/*left: -22px;*/
	/*top:0;*/
	display: none;
}
.td1 span {
	font-size: 9pt !important;
	line-height: 11pt !important;
}
.td1 p, .edu-year {
	font-size: 9pt !important;
	line-height: 14pt !important;
}
.edu-type {
	font-size: 12pt !important;
	line-height: 14pt !important;
}
.last-position-name {
	font-size: 12pt !important;
	font-weight: bold;
}
.company-name {
	font-size: 11pt !important;
}
.company-type, .edu-type-info, .profes-info, .bus-skill-txt, .aboutme-info, .marriage-info, .recom-info, .drive-info  {
	font-size: 9pt !important;
}
.edu-type-ttl, .langs-ttl, .courses-ttl, .bus-skill, .marriage-ttl, .aboutme-ttl, .recom-ttl, .driving-lic {
	font-size: 12pt !important;
}
.school-name, .foreign-lang-skill {
	font-size: 11pt !important;
}
.p-fs16{
	font-size:9pt;
	line-height: 14pt;
}

/* только для печати */

@media print {
	.print_input {
		display: none;
	}
	.b-main-info .text_14 {
		font-size:15pt;
	}

	.p-res-exp,
	.p-res-qua,
	.b-skills-desrc,
	.edu-year,
	.b-sex-age,
	.b-city-info,
	.b-metro-list,
	.b-citizenship-info,
	.b-right-info,
	.duration-period,
	.p-fs16{
		font-size:9pt;
		line-height: 14pt;
	}
	.b-work-period {
		font-size:9pt;
		line-height:14pt;
	}
	.text_18 {
		font-size:18pt;
	}
	.text_24 {
		font-size:24pt;
	}
	.lh_20 {
		line-height:150%;
	}
	.b-work-duration {
		font-size:9pt;
	}
	.duration-period {
		margin-top:-10px;
		position: relative;
		top:2px;
	}
}
/* // только для печати */